<div class="content">
  <h1 id="title" class="content-title">Contact Me</h1>
  <div class="row">
    <div class="col-lg-4 col-xs-12 text-center">
      <a href="https://www.google.com/maps/place/Downtown+Chicago,+IL/@41.879194,-87.6564163,13z/data=!3m1!4b1!4m5!3m4!1s0x880e2caf74846717:0xbc3dc7eb0e09bbfd!8m2!3d41.8756719!4d-87.6243469" target="_blank" class="contact-href">
        <p class="glyphicon glyphicon-map-marker custom-glyph"></p>
        <p>I live in
          <b>Chicago, IL</b>
        </p>
      </a>
    </div>
    <div class="col-lg-4 col-xs-12 text-center">
      <a href="mailto:stevenjvoros@gmail.com" class="contact-href">
        <p class="glyphicon glyphicon-send custom-glyph"></p>
        <p>stevenjvoros@gmail.com</p>
      </a>
    </div>
    <div class="col-lg-4 col-xs-12 text-center">
      <a href="tel:+13125229393" class="contact-href">
        <p class="glyphicon glyphicon-earphone custom-glyph"></p>
        <p class="contact-href">+1 312 522 9393</p>
      </a>
    </div>
  </div>
  <p class="separator"></p>
  <h2 class="text-center">Send me a message</h2>
  <div class="contact-form">
    <form #contactForm="ngForm" (ngSubmit)="submit(contactForm)">
      <div class="form-group">
        <label for="name">Your Name</label>
        <input ngModel name="name" required type="text" class="form-control" id="name" #name="ngModel">
        <div class="validation-alert" *ngIf="name.touched && !name.valid">Name is a required field.</div>
      </div>
      <div class="form-group">
        <label for="email">Your Email</label>
        <input ngModel name="email" required type="email" class="form-control" id="email" #email="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
        <div class="validation-alert" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">Email is a required field.</div>
          <div *ngIf="email.errors.pattern">Email does not have a valid format.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="subject">Subject</label>
        <input ngModel name="subject" type="text" class="form-control" id="subject">
      </div>
      <div class="form-group">
        <label for="message">Message</label>
        <textarea ngModel name="message" cols="40" rows="10" class="form-control" id="message"></textarea>
      </div>
      <div class="text-center">
        <button class="btn btn-lg btn-primary submit-button">
          <b>Submit</b>
        </button>
      </div>
    </form>
  </div>
</div>