<div class="intrude-less">
    <div class="header">
        <div id="header-profile">
            <div id="profilepic-placeholder">
                <a href="/">
                    <img src="http://localhost:5000/img/profile_pic.jpg" id="profilepicture" class="img-circle" alt="Profile picture">
                </a>
                <h1>Steven Voros</h1>
                <p class="subtitle-md">Full-stack .NET
                    <br/>Developer</p>
                <p class="subtitle-sm">Full-stack
                    <br/>.NET Developer</p>
                <p></p>
                <p>Azure Solutions
                    <br/> Consultant</p>
            </div>
            <div id="main-nav">
                <ul class="main-navigation">
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/home']" fragment="title" (click)="onAnchorClick()">
                            About
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/counter']" fragment="title" (click)="onAnchorClick()">
                            Projects
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/contact']" fragment="title" (click)="onAnchorClick()">
                            Contact
                        </a>
                    </li>
                    <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/fetch-data']" fragment="title" (click)="onAnchorClick()">
                            Blog
                        </a>
                    </li>
                </ul>
            </div>
            <div id="sub-nav">
                <a href="mailto:stevenjvoros@gmail.com">
                    <img src="http://localhost:5000/img/social_email.svg" class="social-button" alt="Email">
                </a>
                <a href="https://twitter.com/StevenVoros88">
                    <img src="http://localhost:5000/img/social_twitter.svg" class="social-button" alt="Twitter">
                </a>
                <a href="https://www.linkedin.com/in/steven-voros-355ab24a">
                    <img src="http://localhost:5000/img/social_linkedin.svg" class="social-button" alt="Linkedin">
                </a>
            </div>
        </div>
    </div>
</div>