#profilepic-placeholder {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0 auto;
    z-index: 0;
    text-align: center;
}

#profilepicture {
    max-width: 140px;
    height: auto;
}

#header-profile {
    width: 100%;
    padding: 10% 15%;
    box-sizing: border-box;
}

#header-profile #profilepic-placeholder h1 {
    color: #fff;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 2.5px;
    text-shadow: 0 0 10px #1D2A36;
}

#header-profile #profilepic-placeholder .subtitle-sm {
    display: inline;
}

#header-profile #profilepic-placeholder .subtitle-md {
    display: none;
}

#header-profile #profilepic-placeholder p {
    color: #9DA1B3;
    font-family: 'Museo Sans W01', helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-size: 0.9em;
    line-height: 150%;
}

#main-nav {
    margin-top: 0px;
    margin-left: 0px;
}

#main-nav ul li {
    padding-bottom: 25px;
    margin-left: 0px;
    display: block;
    position: relative;
    zoom: 1;
    text-align: center;
}

#main-nav ul li a {
    font-size: 17px;
    padding: 0px 0px;
    color: #EFEFEF;
    text-shadow: 0 1px #333;
    transition: color 0.5s;
    text-decoration: none;
    outline-width: 0;
    letter-spacing: 1.4px;
}

.header {
    height: 100vmax;
    min-height: 650px;
}

.main-navigation {
    margin: 40px 0px 0px 0px;
}

li .glyphicon {
    margin-right: 10px;
}

.social-button {
    width: 30px;
    height: 100%;
    display: inline-block;
    margin: 0px 10px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus,
li.link-active a:visited {
    background-color: transparent;
}

/* Keep the nav menu independent of scrolling and on top of other items */

.header {
    background-color: #273747;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
}

.intrude-less {
    width: 100%;
}

#header-profile #sub-nav {
    margin: 20px 20px 0 0;
    display: flex;
    justify-content: center;
}

#main-nav>ul>li {
    margin-right: 50px;
}

@media screen and (max-width: 1040px) {
    #main-nav>ul>li {
        margin-left: 0;
    }
}

@media (min-width: 1159px) {
    .social-button {
        margin: 0px 15px;
    }
}

@media (min-width: 576px) {
    #profilepic-placeholder {
        padding: 20px 0 0 0;
    }
}

@media (min-width: 768px) {
    #main-nav>ul>li {
        margin-right: 0px;
    }

    #main-nav ul li a:hover {
        color: rgb(143, 189, 233);
    }

    #header-profile #profilepic-placeholder .subtitle-sm {
        display: none;
    }
    #header-profile #profilepic-placeholder .subtitle-md {
        display: inline;
    }
    #main-nav ul li {
        text-align: left;
    }
    .main-navigation {
        padding: 0px 20px;
    }
    /* On mid-large screens, convert the nav menu to a vertical sidebar */
    .header {
        position: fixed;
        height: 100%;
        width: calc(25% - 20px);
    }
}