.techlogo-container {
    padding: 0;
    margin: auto;
    width: 100%;
}

.techlogo-subcontainer {
    display: flex;
    justify-content: center;
}

.techlogo {
    width: auto;
    height: 50px;
    margin: 10px 5px;
    transition: all 0.5s;
}

.techlogo:hover {
    transform: scale(1.2, 1.2);
}

.techlogo-infobox {
    visibility: hidden;
    width: 70px;
    height: 30px;
    background-color: rgba(235, 0, 90, 0.897);
    color: white;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    bottom: 90%;
    left: 45px;
    border-radius: 50px;
    margin-left: -50px;
    margin-top: -40px;
    padding: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.3s;
}

.certid-text {
    letter-spacing: 0.001em;
    font-weight: 600;
    padding-top: 10px;
}

.techlogo:hover+.techlogo-infobox {
    visibility: visible;
    opacity: 1;
}

.badge-container {
    margin: 20px 0;
    text-align: center;
}

.badge {
    display: initial;
    background-color: white;
    width: 120px;
    height: auto;
    margin: 0 20px;
    transition: all 0.5s;
}

.badge:hover {
    transform: scale(1.1, 1.1);
}

.job-description-container {
    margin: auto;
    height: 500px;
}

.job-description-content {
}

.job-logo-container {
    display: inline-block;
    vertical-align: middle;
}

.employer-logo {
    width: auto;
    height: 100px;
}

.job-description {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    text-align: justify;
    font-size: 17px;
    width: 350px;
    padding: 30px 0 30px 0;
}

#introduction {
    width: 340px;
}

#introImg {
    padding: 30px 0 0 0;
}

#audiLogo {
    width: 180px;
    height: auto;
}

#oneremainsLogo {
    position: relative;
    top: 8px;
    width: 75px;
    height: auto;
    padding: 0 0 10px 0;
}

#oneremainsSubtitle {
    font-size: 17px;
}

#freelanceLogo {
    width: 200px;
    height: 100px;
}

#seperatorAfterEmployment {
    margin-top: 30px;
}

@media(min-width: 480px) {
    #introduction {
        width: 370px;
    }
}

@media(min-width: 576px) {
    .techlogo {
        height: 60px;
        margin: 10px 10px;
    }
    .techlogo-infobox {
        width: 80px;
        height: 40px;
        left: 60%;
        font-size: 14px;
        line-height: 40px;
    }
    .badge-container {
        margin: 30px 0;
    }
    .badge {
        width: 150px;
        margin: 0 30px;
    }
    #introduction {
        width: 440px;
    }
    .job-description {
        margin: 0 0 0 40px;
    }
}

@media(min-width: 768px) {
    #audiLogo {
        width: 150px;
    }
    #freelanceLogo {
        width: 170px;
        height: 85px;
    }
}

@media(min-width: 1200px) {
    .techlogo {
        height: 70px;
        margin: 10px 15px;
    }
    .badge {
        width: 180px;
        margin: 0 40px;
    }
    #introduction {
        width: 90%;
        padding: 90px 0 0 0;
    }
    #audiLogo {
        width: 180px;
    }
    #freelanceLogo {
        width: 200px;
        height: 100px;
    }
    .certid-text {
        padding-top: 30px;
    }
    .job-description-container {
        width: 700px;
        height: 500px;
    }
    .job-description {
        margin: 0 0 0 60px;
    }
    #seperatorAfterEmployment {
        margin-top: 60px;
    }    
}