.techlogo-container {
    padding: 0;
    margin: auto;
    width: 100%;
}

.techlogo-subcontainer {
    display: flex;
    justify-content: center;
}

.techlogo {
    width: auto;
    height: 50px;
    margin: 10px 5px;
    transition: all 0.5s;
}

.techlogo:hover {
    transform: scale(1.2, 1.2);
}

.techlogo-infobox {
    visibility: hidden;
    width: 70px;
    height: 30px;
    background-color: rgba(235, 0, 90, 0.897);
    /* rgba(236, 8, 92, 0.959); */
    /* rgba(104, 98, 100, 0.877); */
    color: white;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    bottom: 90%;
    left: 45px;
    border-radius: 50px;
    margin-left: -50px;
    margin-top: -40px;
    padding: 0;
    /* border: 1px solid white; */
    z-index: 3;
    opacity: 0;
    transition: all 0.3s;
}

.certid-text {
    letter-spacing: 0.001em;
}

.techlogo:hover + .techlogo-infobox {
    visibility: visible;
    opacity: 1;
}

.badge-container {
    margin: 20px 0;
    text-align: center;
}

.badge {
    display: initial;
    background-color: white;
    width: 120px;
    height: auto;
    margin: 0 20px;
    transition: all 0.5s;
}

.badge:hover {
    transform: scale(1.1, 1.1);
}

@media(min-width: 576px) {
    .techlogo {
        height: 60px;
        margin: 10px 10px;
    }
    .techlogo-infobox {
        width: 80px;
        height: 40px;
        left: 60%;
        font-size: 14px;
        line-height: 40px;
    }
    .badge-container {
        margin: 30px 0;
    }
    .badge {
        width: 150px;
        margin: 0 30px;
    }
}

@media(min-width: 1200px) {
    .techlogo {
        height: 70px;
    }
    .badge {
        width: 180px;
        margin: 0 40px;
    }
}