<div class="content">
  <h1 id="title" class="content-title">About Me</h1>
  <div class="content-padding">
    <h2 class="text-center">What I Do</h2>
    <div class="row">
      <div class="col-lg-6">
        <p id="introduction" class="content-paragraph first-paragraph">I am a full-stack developer specialized in .NET and Azure-cloud technologies, helping you take your ambitious project
          to the next level.</p>
      </div>
      <div class="col-lg-6 text-center">
        <img id="introImg" [src]="img01Url" alt="" class="img-lg">
      </div>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">What I Can Offer</h2>
    <p class="content-paragraph first-paragraph">Regardless of your project's size, I can help you tackle challenges in front- and back-end development using Angular
      and .NET, elaborate architectural concepts in the context of pure- and hybrid-cloud deployment strategies, and implement
      them at both an infrastructure and code level.</p>
    <div class="text-center">
      <img [src]="img02Url" alt="" class="img-lg">
    </div>
    <p class="content-paragraph">Whether you need a professional for an one-hour consultation or one that can jump into your boat with some aspiring goals
      set in advance, I am ready to help you. I keep myself up-to-date with the newest technologies and aspire to use them
      in my projects every day.</p>
    <h3 class="text-center">Main Technologies</h3>
    <div class="techlogo-container">
      <div class="text-center techlogo-subcontainer">
        <div>
          <img [src]="techLogoUrl01" alt="C# Logo" class="techlogo">
          <div class="techlogo-infobox">C#</div>
        </div>
        <div>
          <img [src]="techLogoUrl02" alt=".NET Core Logo" class="techlogo">
          <div class="techlogo-infobox">.NET</div>
        </div>
        <div>
          <img [src]="techLogoUrl03" alt="ASP.NET Core Logo" class="techlogo">
          <div class="techlogo-infobox">ASP.NET</div>
        </div>
        <div>
          <img [src]="techLogoUrl04" alt="Azure Logo" class="techlogo">
          <div class="techlogo-infobox">Azure</div>
        </div>
        <div>
          <img [src]="techLogoUrl05" alt="Angular Logo" class="techlogo">
          <div class="techlogo-infobox">Angular</div>
        </div>
      </div>
      <div class="text-center techlogo-subcontainer">
        <div>
          <img [src]="techLogoUrl06" alt="HTML5 Logo" class="techlogo">
          <div class="techlogo-infobox">HTML5</div>
        </div>
        <div>
          <img [src]="techLogoUrl07" alt="JavaScript Logo" class="techlogo">
          <div class="techlogo-infobox">JavaScript</div>
        </div>
        <div>
          <img [src]="techLogoUrl08" alt="CSS3 Logo" class="techlogo">
          <div class="techlogo-infobox">CSS3</div>
        </div>
        <div>
          <img [src]="techLogoUrl09" alt="SQL Logo" class="techlogo">
          <div class="techlogo-infobox">SQL</div>
        </div>
      </div>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">Certifications</h2>
    <p class="content-paragraph content-paragraph-centered first-paragraph">Certifications are one way to keep pace with the newest advancements. I have valid Microsoft certifications, which I
      obtained during 2017.</p>
    <p class="certid-text text-center">Microsoft Certification ID</p>
    <p class="text-center">
      <i>14227462</i>
    </p>
    <div class="badge-container">
      <a [href]="certDownloadUrl01" download>
        <img [src]="certBadgeUrl01" alt="Microsoft Certified Solutions Expert Badge: Cloud Platform and Infrastructure" class="badge">
      </a>
      <a [href]="certDownloadUrl02" download>
        <img [src]="certBadgeUrl02" alt="Microsoft Certificate Solutions Developer Badge: App Builder" class="badge">
      </a>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">Work Experience</h2>
    <p class="content-paragraph content-paragraph-wide first-paragraph">I have solid coding skills and acquired significant experience through diverse projects along the way. I worked for one
      of the most renown luxury carmakers and I believe I know quite a bit about reliability, precision, and the importance
      of work quality.</p>
    <p class="content-paragraph content-paragraph-wide">Besides my experience at a multinational company, I always wanted to challenge myself in the startup world by converting
      one of my ideas into a reality. I founded my own startup and was the lead developer for a team of five and the coordinator
      of multiple contractors. There, I needed to learn about the importance of flexibility, which I consider one of my greatest
      strengths even today.</p>
    <div class="selector-container">
      <button id="selector01" #selector01 class="selector-button selector-button-selected" (click)="selectorClicked(selector01, [selector02, selector03, selector04])">Audi</button>
      <button id="selector02" #selector02 class="selector-button" (click)="selectorClicked(selector02, [selector01, selector03, selector04])">Volkswagen</button>
      <button id="selector03" #selector03 class="selector-button" (click)="selectorClicked(selector03, [selector01, selector02, selector04])">oneremains</button>
      <button id="selector04" #selector04 class="selector-button" (click)="selectorClicked(selector04, [selector01, selector02, selector03])">Freelance</button>
    </div>
    <div class="separator-grey"></div>
    <div class="job-description-container" [style.display]="displayJobDescription01">
      <img [src]="employerLogoUrl01" alt="Audi Logo" class="employer-logo">
      <p class="job-description">adsf adsfsd kflahd asdf fdakshflksadf kfdlahsklfhal sd asdf asdklfh lksaflkal kf ienali nfaie blgka kleahkl  slkfl dkasdf daskfhlakdshflk ahsldfheoinoavn oaiv kladhsv vkdslk vkhsdl ni orboivi orbo bv ovi bob oiab h asdf</p>
    </div>
    <div class="job-description-container" [style.display]="displayJobDescription02">
      <img [src]="employerLogoUrl02" alt="Volkswagen Logo" class="employer-logo">
      <p class="job-description">adsf adsfsd kflahd asdf fdakshflksadf kfdlahsklfhal sd asdf asdklfh lksaflkal kf ienali nfaie blgka kleahkl  slkfl dkasdf daskfhlakdshflk ahsldfheoinoavn oaiv kladhsv vkdslk vkhsdl ni orboivi orbo bv ovi bob oiab h asdf</p>
    </div>
    <div class="job-description-container" [style.display]="displayJobDescription03">
      <img [src]="employerLogoUrl03" alt="oneremains Logo" class="employer-logo">
      <p class="job-description">adsf adsfsd kflahd asdf fdakshflksadf kfdlahsklfhal sd asdf asdklfh lksaflkal kf ienali nfaie blgka kleahkl  slkfl dkasdf daskfhlakdshflk ahsldfheoinoavn oaiv kladhsv vkdslk vkhsdl ni orboivi orbo bv ovi bob oiab h asdf</p>
    </div>
    <div class="job-description-container" [style.display]="displayJobDescription04">
      <img [src]="employerLogoUrl04" alt="Freelance Logo" class="employer-logo">
      <p class="job-description">adsf adsfsd kflahd asdf fdakshflksadf kfdlahsklfhal sd asdf asdklfh lksaflkal kf ienali nfaie blgka kleahkl  slkfl dkasdf daskfhlakdshflk ahsldfheoinoavn oaiv kladhsv vkdslk vkhsdl ni orboivi orbo bv ovi bob oiab h asdf</p>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">Education</h2>
    <!-- <p>Todos: Add interactive company list, carrier history tree, MS certifications, content above</p> -->
  </div>
</div>