<div class="content">
  <h1 id="title" class="content-title">About Me</h1>
  <div class="content-padding">
    <div class="row">
      <div class="col-lg-6">
        <p class="content-paragraph">I am a full-stack developer specialized in .NET and Azure-cloud technologies that can help you take your ambitious
          project to the next level.</p>
      </div>
      <div class="col-lg-6 text-center img-container">
        <img [src]="firstImgUrl" alt="" class="firstImage">
      </div>
    </div>
    <!-- <div class="content-paragraph"> -->
    <!-- <p>Regardless of your project's size, I can help you tackle challenges in front-end and back-end development using Angular
      and .NET, elaborate architectural concepts using pure-cloud or hybrid-cloud solutions, and implement them at both an
      infrastructural and code level.</p>
    <p>Whether you just need a professional for an one-hour consultation or one that can jump into your boat with some aspiring
      goals set beforehand, I am here to help you. I keep myself up-to-date with the newest developments in the industry
      and aspire to use them in my projects every day.</p>
    <p>I have solid coding skills and acquired significant experience through diverse projects along the way. I used to work
      for one of the most renown luxury carmakers and so I believe I know quite a bit about reliability, precision, and quality
      of work. Besides my solid carrier at a multinational corporation, I always wanted to challenge myself by founding my
      own start-up company. There, I functioned as a lead developer for a team of five and multiple contractors. I needed
      to learn about the importance of flexibility that I consider one of my greatest strengths even today.</p> -->
    <!-- </div> -->
  </div>
</div>