.techlogo-container {
    padding: 0;
    margin: auto;
    width: 100%;
}

.techlogo-subcontainer {
    display: flex;
    justify-content: center;
}

.techlogo {
    width: auto;
    height: 50px;
    margin: 10px 10px;
    transition: all 0.5s;
}

.techlogo:hover {
    transform: scale(1.2, 1.2);
}

@media(min-width: 576px) {
    .techlogo {
        height: 60px;
    }
}

@media(min-width: 1200px) {
    /* .techlogo-subcontainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
    } */
}