<div class="content">
  <h1 id="title" class="content-title">About Me</h1>
  <div class="content-padding">
    <h2 class="text-center">What I Do</h2>
    <div class="row">
      <div class="col-lg-6">
        <p id="introduction" class="content-paragraph first-paragraph">I am a full-stack developer specialized in .NET and Azure-cloud technologies, helping you take your ambitious project
          to the next level.</p>
      </div>
      <div class="col-lg-6 text-center">
        <img id="introImg" [src]="img01Url" alt="" class="img-lg">
      </div>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">What I Can Offer</h2>
    <p class="content-paragraph first-paragraph">Regardless of your project's size, I can help you tackle challenges in front- and back-end development using Angular
      and .NET, elaborate architectural concepts in the context of pure- and hybrid-cloud deployment strategies, and implement
      them at both an infrastructure and code level.</p>
    <div class="text-center">
      <img [src]="img02Url" alt="" class="img-lg">
    </div>
    <p class="content-paragraph">Whether you need a professional for an one-hour consultation or one that can jump into your boat with some aspiring goals
      set in advance, I am ready to help you. I keep myself up-to-date with the newest technologies and aspire to use them
      in my projects every day.</p>
    <div class="separator-grey"></div>
    <h3 class="text-center">Main Technologies</h3>
    <div class="techlogo-container">
      <div class="text-center techlogo-subcontainer">
        <div>
          <img [src]="techLogoUrl01" alt="C# Logo" class="techlogo">
          <div class="techlogo-infobox">C#</div>
        </div>
        <div>
          <img [src]="techLogoUrl02" alt=".NET Core Logo" class="techlogo">
          <div class="techlogo-infobox">.NET</div>
        </div>
        <div>
          <img [src]="techLogoUrl03" alt="ASP.NET Core Logo" class="techlogo">
          <div class="techlogo-infobox">ASP.NET</div>
        </div>
        <div>
          <img [src]="techLogoUrl10" alt="Entity Framework Logo" class="techlogo">
          <div class="techlogo-infobox">EF</div>
        </div>
        <div>
          <img [src]="techLogoUrl04" alt="Azure Logo" class="techlogo">
          <div class="techlogo-infobox">Azure</div>
        </div>
      </div>
      <div class="text-center techlogo-subcontainer">
        <div>
          <img [src]="techLogoUrl05" alt="Angular Logo" class="techlogo">
          <div class="techlogo-infobox">Angular</div>
        </div>
        <div>
          <img [src]="techLogoUrl06" alt="HTML5 Logo" class="techlogo">
          <div class="techlogo-infobox">HTML5</div>
        </div>
        <div>
          <img [src]="techLogoUrl07" alt="JavaScript Logo" class="techlogo">
          <div class="techlogo-infobox">JavaScript</div>
        </div>
        <div>
          <img [src]="techLogoUrl08" alt="CSS3 Logo" class="techlogo">
          <div class="techlogo-infobox">CSS3</div>
        </div>
        <div>
          <img [src]="techLogoUrl09" alt="SQL Logo" class="techlogo">
          <div class="techlogo-infobox">SQL</div>
        </div>
      </div>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">Certifications</h2>
    <p class="content-paragraph content-paragraph-centered first-paragraph">Certifications are one way to keep pace with the newest advancements. I have valid Microsoft certifications, which I
      obtained during 2017.</p>
    <p class="certid-text text-center">Microsoft Certification ID</p>
    <p class="text-center">
      <i>14227462</i>
    </p>
    <div class="badge-container">
      <a [href]="certDownloadUrl01" download><img [src]="certBadgeUrl01" alt="Microsoft Certified Solutions Expert Badge: Cloud Platform and Infrastructure" class="badge"></a>
      <a [href]="certDownloadUrl02" download><img [src]="certBadgeUrl02" alt="Microsoft Certificate Solutions Developer Badge: App Builder" class="badge"></a>
    </div>
    <p class="separator"></p>
    <h2 class="text-center">Work Experience</h2>
    <p class="content-paragraph content-paragraph-wide first-paragraph">I have solid coding skills and acquired significant experience through diverse projects along the way. I worked for one
      of the most renown luxury carmakers and I believe I know quite a bit about reliability, precision, and the importance
      of work quality.</p>
    <p class="content-paragraph content-paragraph-wide">Besides my experience at a multinational company, I always wanted to challenge myself in the startup world by converting
      one of my ideas into a reality. I founded my own startup and was the lead developer for a team of five and the coordinator
      of multiple contractors. There, I needed to learn about the importance of flexibility, which I consider one of my greatest
      strengths even today.</p>
    <div class="selector-container">
      <button id="selector01" #selector01 class="selector-button selector-button-selected" (click)="selectorClicked(selector01, [selector02, selector03, selector04])">Audi</button>
      <button id="selector02" #selector02 class="selector-button" (click)="selectorClicked(selector02, [selector01, selector03, selector04])">Volkswagen</button>
      <button id="selector03" #selector03 class="selector-button" (click)="selectorClicked(selector03, [selector01, selector02, selector04])">oneremains</button>
      <button id="selector04" #selector04 class="selector-button" (click)="selectorClicked(selector04, [selector01, selector02, selector03])">Freelance</button>
    </div>
    <div class="separator-grey"></div>
    <div class="job-description-container text-center" [style.display]="displayJobDescription01">
      <h3>Project Engineer</h3>
      <h4>Jun 2010 - Feb 2016</h4>
      <div class="job-description-content">
        <div class="job-logo-container">
          <img id="audiLogo" [src]="employerLogoUrl01" alt="Audi Logo" class="employer-logo">
        </div>
        <p class="job-description">Audi was my first employer in Ingolstadt, Germany, where I worked on projects that required solid programming, engineering,
          as well as project management skills. Due to the multinational projects I worked on around the globe, I learnt
          how to adapt to and be efficient in the most different working cultures. I developed diverse algorithms for the
          company that helped evaluate 3D roughness data of combustion engines.</p>
      </div>
    </div>
    <div class="job-description-container text-center" [style.display]="displayJobDescription02">
      <h3>Project Coordinator</h3>
      <h4>Nov 2014 - Feb 2016</h4>
      <div class="job-description-content">
        <div class="job-logo-container">
          <img id="volkswagenLogo" [src]="employerLogoUrl02" alt="Volkswagen Logo" class="employer-logo">
        </div>
        <p class="job-description">As an expat assigned from Audi Germany to Volkswagen Mexico, I got the opportunity to work on building up manufacturing
          lines from the ground up including IT infrastructure and data centers in a brand-new plant of the VW Group. I was
          in charge of the procurement of inspection and measurement systems and the assurence of product quality in close
          colleboration with R&D during production ramp-up.</p>
      </div>
    </div>
    <div class="job-description-container text-center" [style.display]="displayJobDescription03">
      <h3>Founder and Lead Developer</h3>
      <h4>Feb 2016 - Dec 2016</h4>
      <div class="job-description-content">
        <div class="job-logo-container">
          <img id="oneremainsLogo" [src]="employerLogoUrl03" alt="oneremains Logo" class="employer-logo">
          <p id="oneremainsSubtitle">
            <b>oneremains</b>
          </p>
        </div>
        <p class="job-description">I always had the ambition to create something new. In 2016, I left the automotive industry and founded a startup
          with the goal to creat a monetary, online gaming platform for skill- and logic-based games. While the project had
          to be ended due to financial difficulties, I gained a tremendous amount of experience as a lead developer and founder
          at the company. We mainly worked with Node.js, Amazon AWS and Azure, and Unity based on .NET.</p>
      </div>
    </div>
    <div class="job-description-container text-center" [style.display]="displayJobDescription04">
      <h3>Full-stack .NET Developer
        <br>Azure Solutions Consultant</h3>
      <h4>Jan 2017 - Present</h4>
      <div class="job-description-content">
        <div class="job-logo-container">
          <img id="freelanceLogo" [src]="employerLogoUrl04" alt="Freelance Logo" class="employer-logo">
        </div>
        <p class="job-description">I used 2017 to broaden my knowledge and skills previously gained from my startup and corporate positions and help
          other teams succeed mainly with Azure, .NET, and Angular. I also started to use .NET core, the newest, cross-platform
          generation of .NET. By supporting different teams and providing consulting services, I also learnt numerous best
          practices from my clients, which I could in turn use to find better solutions in later projects.</p>
      </div>
    </div>
    <p id="seperatorAfterEmployment" class="separator"></p>
    <h2 id="educationHeader" class="text-center">Education</h2>
    <div class="col-xs-12">
      <div class="history-graph-container">
        <div class="milestone-container">
          <div class="node">
            <p class="vertical-align">2011<br>-<br>2012</p>
          </div>
          <div class="milestone-content float-right-lg">
            <h4>
              <b>King's College London, UK</b>
            </h4>
            <p>MSc in Robotics</p>
          </div>
        </div>
        <div class="milestone-container">
          <div class="node">
            <p class="vertical-align">2009</p>
          </div>
          <div class="milestone-content float-left-lg">
            <h4>
              <b>Karlsruhe Institute of Technology, Germany</b>
            </h4>
            <p>Scholarship by DAAD</p>
          </div>
        </div>
        <div class="milestone-container">
          <div class="node">
            <p class="vertical-align">2007<br>-<br>2010</p>
          </div>
          <div class="milestone-content float-right-lg">
            <h4>
              <b>Budapest University of Technology, Hungary</b>
            </h4>
            <p>BSc in Mechatronics</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>