.firstImage {
    /* float: right; */
    /* margin: 10px 100px 0 20px; */
    width: 400px;
    height: auto;
}

.techlogo-container {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0;
    margin: 60px 10px;
}

.techlogo {
    width: 100px;
    height: 100px;
    margin: 0 10px;
}