.techlogo-container {
    padding: 0;
    margin: auto;
    width: 100%;
}

.techlogo-subcontainer {
    display: flex;
    justify-content: center;
}

.techlogo {
    width: auto;
    height: 50px;
    margin: 10px 5px;
    transition: all 0.5s;
}

.techlogo:hover {
    transform: scale(1.2, 1.2);
}

.techlogo-infobox {
    visibility: hidden;
    /* display: inline-block; */
    width: 80px;
    height: 30px;
    background-color: rgba(236, 8, 92, 0.959);
    color: white;
    font-size: 12px;
    line-height: 30px;
    position: relative;
    bottom: 90%;
    left: 50%;
    border-radius: 50px;
    margin-left: -50px;
    /* margin-bottom: -20px; */
    /* margin-right: -55px; */
    margin-top: -40px;
    padding: 0 10px;
    border: 1px solid white;
    z-index: 3;
}

.techlogo:hover + .techlogo-infobox {
    visibility: visible;
}

@media(min-width: 576px) {
    .techlogo {
        height: 60px;
        margin: 10px 10px;
    }
    .techlogo-infobox {
        width: 100px;
        height: 40px;
        font-size: 14px;
        line-height: 40px;
    }
}

@media(min-width: 1200px) {
}