<div class="content">
    <h1 id="title" class="content-title">Projects</h1>
    <h2 class="text-center">About My Work</h2>
    <p class="content-paragraph content-paragraph-centered">On this page, you can find information about some of my previous projects. The 'about' page also gives you insight into
        the type of services I can provide and the technologies I usually use in my work.</p>
    <p class="content-paragraph content-paragraph-centered">While my projects are usually bound to some type of confidentiality with my clients, I am happy to give you a high-level
        overview of my portfolio.</p>
    <p class="separator"></p>
    <h2 class="text-center">Portfolio</h2>
    <div class="projects-container text-center">
        <button class="project-tile" (click)="onClickProject01()">
            <div class="tile-title">
                <h3>Cloud Solutions</h3>
                <small>Azure</small>
            </div>
            <img [src]="imageUrlTile01" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject02()">
            <div class="tile-title">
                <h3>Cloud Migration</h3>
                <small>AWS | Azure</small>
            </div>
            <img [src]="imageUrlTile02" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject03()">
            <div class="tile-title">
                <h3>oneremains</h3>
                <small>Online Gaming Platform</small>
            </div>
            <img id="tileImgOneremains" [src]="imageUrlTile03" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject04()">
            <div class="tile-title">
                <h3>Stock Trading Bot</h3>
                <small>.NET</small>
            </div>
            <img [src]="imageUrlTile04" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject05()">
            <div class="tile-title">
                <h3>This Website</h3>
                <small>Angular | .NET Core</small>
            </div>
            <img id="tileImgSJV" src="https://fontmeme.com/permalink/171122/ebee12606cb18066ae5dca71e16370eb.png" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject06()">
            <div class="tile-title">
                <h3>Other</h3>
                <small>Miscallaneous</small>
            </div>
            <div id="tileImgPaperclip" class="glyphicon glyphicon-paperclip"></div>
        </button>
    </div>
    <div class="popup-background" [class.visually-hidden-background]="visuallyHiddenPopupBackground" [style.display]="displayPopupBackground"
        (click)="closePopup()">
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup01" [style.display]="displayPopup01" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2>Azure Cloud Solutions</h2>
            </div>
            <div class="popup-body">
                <h3>Architectural and Infrastructural Design</h3>
                <p>Depending on the specific needs of a project, there are simplier and more cost-effective ways of creating
                    the same product. Azure provides many paths including virtual machines, web/mobile/logic/API apps, microservices
                    - just to name a few. Architectural and infrastructural designs are the first and most crucial steps
                    before the actual implementation of a solution. I have provided several hours of consultation and also
                    have hands-on experience with complete projects that required the design and creation of cloud solutions
                    for small- to mid-size start-ups from the ground up.</p>
                <h3>Hybrid and Pure-cloud Solutions</h3>
                <p>One of the main strengths of Azure is its support for hybrid solutions, i.e. on-premises networks connected
                    to virtual networks in the cloud. This can be an ideal path when a company wants to keep certain data
                    on its private servers or uses Windows Active Directory to manage different entities while also enabling
                    SSO (Single Sign-on) when using third-party software. I have had projects using Azure logic apps to connect
                    to local SQL databases, set up connections between virtual networks and on-premises ones and also have
                    experience with B2B and B2C Azure Active Directory solutions.</p>
                <h3>Microservices</h3>
                <p>Microservices are the newest buzzword in cloud technology. I have been experiencing a surge in demand in
                    microservices since the second half of 2017. While microservices have tremendous power when it comes
                    to scalability and cost saving, they require a totally different approach to software development and
                    maintanance and are usually not ideal for a large portion of small to mid-size web applications present
                    today. During one of my projects in 2017, although my client finally decided to use conventional approaches
                    as opposed to microservices, I had the chance to make experiments with Azure capabilities regarding this
                    field. I also keep myself up-to-date with Azure's newest advencements and can give you detailed information
                    on Azure's capabilities with microservices when needed.</p>
            </div>
        </div>
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup02" [style.display]="displayPopup02" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2 class="text-center">Cloud Migration</h2>
            </div>
            <div class="popup-body">
                <h3>AWS to Azure Migration</h3>
                <p>As Azure is trying to be more competitive with AWS by means of agressive pricing models, I see an increasing
                    demand in partial and complete migrations from AWS to Azure. Also, as some companies provide third-party
                    services to their client that may use different cloud platforms, those third-party providers need to
                    work with and have working solutions on different cloud platforms. I managed a complete AWS-to-Azure migration with databases and virtual machines in 2017.</p>
            </div>
        </div>
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup03" [style.display]="displayPopup03" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2 class="text-center">oneremains</h2>
            </div>
            <div class="popup-body">
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
            </div>
        </div>
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup04" [style.display]="displayPopup04" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2 class="text-center">Stock Trading Bot</h2>
            </div>
            <div class="popup-body">
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
            </div>
        </div>
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup05" [style.display]="displayPopup05" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2 class="text-center">This Website</h2>
            </div>
            <div class="popup-body">
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
            </div>
        </div>
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup06" [style.display]="displayPopup06" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
            <div class="popup-header">
                <h2 class="text-center">Other</h2>
            </div>
            <div class="popup-body">
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
                <h3>Subtitle</h3>
                <p>asdf asdlkfhlak fhdlaksh lkfahds lkhlfk hfkda lhskhlf fdas</p>
            </div>
        </div>
    </div>
</div>