<div class="content">
    <h1 id="title" class="content-title">Projects</h1>
    <h2 class="text-center">About My Work</h2>
    <p class="content-paragraph content-paragraph-centered">On this page, you can find information about some of my previous projects. The 'about' page also gives you insight into
        the type of services I can provide and the technologies I usually use in my work.</p>
    <p class="content-paragraph content-paragraph-centered">While my projects are usually bound to some type of confidentiality with my clients, I am happy to give you a high-level
        overview of my portfolio.</p>
    <p class="separator"></p>
    <h2 class="text-center">Portfolio</h2>
    <div class="projects-container text-center">
        <button class="project-tile" (click)="onClickProject01()">
            <div class="tile-title">
                <h3>Cloud Solutions</h3>
                <small>Azure</small>
            </div>
            <img [src]="imageUrlTile01" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject02()">
            <div class="tile-title">
                <h3>Cloud Migration</h3>
                <small>AWS | Azure</small>
            </div>
            <img [src]="imageUrlTile02" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject03()">
            <div class="tile-title">
                <h3>oneremains</h3>
                <small>Online Gaming Platform</small>
            </div>
            <img id="tileImgOneremains" [src]="imageUrlTile03" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject04()">
            <div class="tile-title">
                <h3>Stock Trading Bot</h3>
                <small>.NET</small>
            </div>
            <img [src]="imageUrlTile04" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject05()">
            <div class="tile-title">
                <h3>This Website</h3>
                <small>Angular | .NET Core</small>
            </div>
            <img id="tileImgSJV" src="https://fontmeme.com/permalink/171122/ebee12606cb18066ae5dca71e16370eb.png" alt="">
        </button>
        <button class="project-tile" (click)="onClickProject06()">
            <div class="tile-title">
                <h3>Other</h3>
                <small>Miscallaneous</small>
            </div>
            <div id="tileImgPaperclip" class="glyphicon glyphicon-paperclip"></div>
        </button>
    </div>
    <div class="popup-background" [class.visually-hidden-background]="visuallyHiddenPopupBackground" [style.display]="displayPopupBackground"
        (click)="closePopup()">
        <div class="popup" [class.visually-hidden-popup]="visuallyHiddenPopup" [style.display]="displayPopup" (click)="$event.stopPropagation();"
            (animationend)="onTransitionEndPopup()">
            <button class="popup-close-button" (click)="closePopup()">
                <span>x</span>
            </button>
        </div>
    </div>
</div>