.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.project-tile {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px;
    border: 1px solid black;
    border-radius: 20px;
    transition: all 0.5s;
}

.project-tile:hover {
    transform: scale(1.1, 1.1);
}

.project-tile h3 {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 16px;
}

.project-tile small {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-size: 14px;
}