<div class="content">
    <h1 id="title" class="content-title">Projects</h1>
    <p class="content-paragraph">While the projects I work on are usually bound to some level of disclosure agreement, I am happy to give you a high-level overview of my portfolio:</p>
    <div class="projects-container text-center">
        <div class="project-tile">
            <div class="tile-title">
                <h3>Cloud Solutions</h3>
                <small>Azure</small>
            </div>
            <img [src]="imageUrlTile01" alt="">
        </div>
        <div class="project-tile">
            <div class="tile-title">
                <h3>Cloud Migration</h3>
                <small>AWS | Azure</small>
            </div>
            <img [src]="imageUrlTile02" alt="">
        </div>
        <div class="project-tile">
            <div class="tile-title">
                <h3>oneremains</h3>
                <small>Online Gaming Platform</small>
            </div>
            <img id="tileImgOneremains" [src]="imageUrlTile03" alt="">
        </div>
        <div class="project-tile">
            <div class="tile-title">
                <h3>Stock Trading Bot</h3>
                <small>.NET</small>
            </div>
            <img [src]="imageUrlTile04" alt="">
        </div>
        <div class="project-tile">
            <div class="tile-title">
                <h3>This Website</h3>
                <small>Angular | .NET Core</small>
            </div>
            <img id="tileImgSJV" src="https://fontmeme.com/permalink/171122/ebee12606cb18066ae5dca71e16370eb.png" alt="">
        </div>
        <div class="project-tile">
            <div class="tile-title">
                <h3>Other</h3>
                <small>Miscallaneous</small>
            </div>
            <div id="tileImgPaperclip" class="glyphicon glyphicon-paperclip"></div>
        </div>
    </div>
</div>