.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.project-tile {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 30px;
    padding: 20px;
    background-color: rgb(253, 253, 253);
    border: 1px solid rgb(253, 253, 253);
    box-shadow: 1px 1px 5px black;
    border-radius: 70px;
    transition: all 0.5s;
}

.project-tile:hover,
.project-tile:focus,
.project-tile:visited {
    outline: none;
}

.project-tile img {
    width: auto;
    height: 80px;
}

.project-tile:hover {
    transform: scale(1.1, 1.1);
    border: 1px solid rgba(0, 0, 0, 0.733);
}

.tile-title {
    margin: 0;
    padding-top: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 69px;
    background-color: rgba(39, 55, 71, 0.705);
    color: rgb(248, 248, 248);
    opacity: 0;
    z-index: 2;
    transition: all 0.5s;
}

.tile-title:hover {
    opacity: 1;
}

.tile-title h3 {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.tile-title small {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

#tileImgOneremains {
    height: 54%;
}

#tileImgSJV {
    height: 30%;
}

#tileImgPaperclip {
    font-size: 60px;
    color: #273747;
}

@media (min-width: 1200px) {
    .projects-container {
        width: 800px;
    }
}