.content {
    /* font-family: 'Open Sans', helvetica, arial, sans-serif; */
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #504747;
}

#title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    border: 0;
}

.content-title {
    padding: 0px 0px 30px 0px;
}

.content-paragraph {
    padding: 10px 0 10px 0;
    text-align: justify;
    margin: auto;
    width: 90%;
}

.content-paragraph-centered {
    width: 80%;
}

.first-paragraph {
    padding-top: 0;
}

.img-lg {
    width: 300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separator {
    border-bottom: 3px solid #EC0856;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0;
}

.separator-grey {
    border-bottom: 2px solid rgb(126, 126, 126);
    width: 130px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.selector-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.selector-button {
    display: inline-block;
    margin: 0 1.5%;
    padding: 8px 8px;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    border: 2px solid rgba(39, 55, 71, 0.74);
    color: rgb(39, 55, 71);
    font-weight: 100;
    font-size: 12px;
    transition: all 0.5s;
}

.selector-button:hover,
.selector-button:active,
.selector-button:focus,
.selector-button:visited {
    outline: none;
    text-decoration: none;
}

.selector-button:hover {
    color: #EC0856;
    border-color: #EC0856;
    background-color: transparent;
}

.selector-button:focus {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

.selector-button-selected {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

.selector-button-selected:hover {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

h2 {
    padding: 0 0 40px 0;
    letter-spacing: 1px;
}

h3 {
    padding: 0 0 30px 0;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}

.history-graph-container {
    margin: 0;
    padding: 0;
}

.history-graph-container .milestone-container:first-child {
    margin-top: 0;
}

.history-graph-container .milestone-container:last-child {
    margin-bottom: 0;
}

.history-graph-container:before {
    position: absolute;
    left: 65px;
    top: 3px;
    bottom: 0;
    margin-left: -0.5px;
    content: "";
    background-color: rgb(224, 224, 224);
    width: 2px;
    z-index: -1;
}

.milestone-container {
    height: 70px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding-left: 10px;
}

.milestone-container:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.node {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-right: 3%;
    text-align: center;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 80px;
    background-color: rgb(250, 250, 250);
    font-size: 12px;
    line-height: 12px;
    z-index: 2;
}

.node:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.node p {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgb(128, 128, 128);
}

.milestone-content {
    display: inline-block;
    vertical-align: middle;
    width: 65%;
}

.milestone-content h4 {
    font-size: 12px;
}

.milestone-content p {
    font-size: 12px;
}

.vertical-align {
    display: inline-block;
    vertical-align: middle;
}

.popup-background {
    background-color: rgba(0, 0, 0, 0.623);
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vmax;
    z-index: 4;
    animation-name: fadeInToastyBackground;
    animation-duration: 0.3s;
}

@keyframes fadeInToastyBackground {
    from {
        background-color: rgba(0, 0, 0, 0);
    }
    to {
        background-color: rgba(0, 0, 0, 0.92);
    }
}

.visually-hidden-background {
    background-color: rgba(0, 0, 0, 0);
    animation-name: fadeOut;
    animation-duration: 0.3s;
}

@keyframes fadeOut {
    from {
        background-color: rgba(0, 0, 0, 0.92);
    }
    to {
        background-color: rgba(0, 0, 0, 0);
    }
}

.popup {
    background-color: rgb(241, 241, 241);
    position: fixed;
    left: 50vw;
    top: 40vh;
    margin-left: -150px;
    margin-top: -185px;
    padding: 30px 20px;
    height: 370px;
    width: 300px;
    z-index: 4;
    border-radius: 6px 6px 5px 5px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 0.5s;
    animation-name: slideInPopup;
    animation-duration: 0.3s;
}

@keyframes slideInPopup {
    0% {
        opacity: 0;
        transform: translateY(-100%);
        offset: 0;
    }
    30% {
        opacity: 1;
        transform: translateY(15px);
        offset: 0.3;
    }
    100% {
        opacity: 1;
        transform: translateY(0);
        offset: 1;
    }
}

.visually-hidden-popup {
    animation-name: slideOutPopup;
    animation-duration: 0.3s;
}

@keyframes slideOutPopup {
    0% {
        opacity: 1;
        transform: translateY(0);
        offset: 0;
    }
    30% {
        opacity: 0.7;
        transform: translateY(15px);
        offset: 0.7;
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
        offset: 1;
    }
}

.popup-close-button {
    background-color: rgb(241, 241, 241);
    position: absolute;
    right: 10px;
    top: 7px;
    border: 0 transparent;
}

.popup-close-button:active,
.popup-close-button:focus,
.popup-close-button:visited {
    outline: none;
}

.popup-close-button span {
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    text-shadow: 0px 1px 1px rgb(133, 128, 128);
    transform:scale(1.2,1);
    display: inline-block;
}
.popup-close-button span:hover { 
    color: rgb(80, 80, 80);
    text-shadow: 0px 2px 2px rgb(124, 124, 124);
}

.popup h2 {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 400;
}

.popup h3 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 400;
}

.popup p {
    font-size: 16px;
}

@media (min-width: 480px) {
    #title {
        text-align: initial;
    }
    .content {
        font-size: 17px;
    }
    .content-paragraph-centered {
        width: 70%;
    }
    .separator-grey {
        width: 150px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .selector-container {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .selector-button {
        padding: 10px 10px;
        border-radius: 30px;
        font-size: 12px;
    }
    .history-graph-container:before {
        left: 85px;
    }
    .milestone-container {
        padding-left: 30px;
    }
    .milestone-content h4 {
        font-size: 16px;
    }
    .milestone-content p {
        font-size: 16px;
    }
}

@media (min-width: 576px) {
    .content {
        font-size: 21px;
    }
    #title {
        font-size: 48px;
    }
    .content-title {
        padding: 0px 0px 80px 0px;
    }
    .separator {
        width: 230px;
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .separator-grey {
        width: 150px;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    .content-paragraph {
        width: 90%;
        padding: 15px 0 15px 0;
    }
    .content-paragraph-wide {
        width: 90%;
    }
    .content-paragraph-centered {
        width: 420px;
    }
    .img-lg {
        width: 400px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 22px;
    }
    .node {
        margin-right: 30px;
        width: 90px;
        height: 90px;
    }
    .history-graph-container:before {
        left: 95px;
    }
    .milestone-container {
        margin-top: 80px;
        margin-bottom: 80px;
    }
}

@media (min-width: 768px) {
    .content-padding {
        padding: 0 0 0 20px;
    }
    .content-paragraph-centered {
        width: 70%;
    }
    .popup {
        height: 450px;
        width: 400px;
        margin-left: -200px;
        margin-top: -225px;
    }
}

@media (min-width: 1200px) {
    .separator {
        width: 320px;
        margin-top: 90px;
        margin-bottom: 80px;
    }
    .content-paragraph-wide {
        width: 90%;
    }
    .img-lg {
        padding: 20px 0 20px 0;
    }
    h2 {
        padding: 0 0 50px 0;
    }
    h3 {
        padding-top: 30px;
    }
    .selector-button {
        margin: 0 1.5%;
        padding: 11px 15px;
        font-size: 18px;
    }
    .milestone-container {
        margin: 190px 0;
        padding: 0;
    }
    .milestone-content {
        width: 35%;
        padding: 20px 0;
    }
    .node {
        position: absolute;
        left: 50%;
        width: 140px;
        height: 140px;
        margin-left: -70px;
        margin-right: 0;
        font-size: 19px;
        line-height: 19px;
    }
    .milestone-content p {
        font-size: 18px;
    }
    .history-graph-container .milestone-container:first-child {
        margin-top: 50px;
    }
    .float-left-lg {
        float: left;
        text-align: right;
    }
    .float-right-lg {
        float: right;
        text-align: left;
    }
    .history-graph-container:before {
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 20px;
        margin-left: -0.5px;
        content: "";
        background-color: rgb(224, 224, 224);
        width: 2px;
        z-index: -1;
    }
    .history-graph-container .milestone-container:first-child {
        margin-top: 0;
    }
    .history-graph-container .milestone-container:last-child {
        margin-bottom: 0;
    }
    .milestone-content h4 {
        font-size: 19px;
    }
}