.content {
    /* font-family: 'Open Sans', helvetica, arial, sans-serif; */
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #504747;
}

#title {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    border: 0;
}

.content-title {
    padding: 0px 0px 30px 0px;
}

.content-paragraph {
    padding: 10px 0 10px 0;
    text-align: justify;
    margin: auto;
    width: 90%;
}

.content-paragraph-centered {
    width: 80%;
}

.first-paragraph {
    padding-top: 0;
}

.img-lg {
    width: 300px;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.separator {
    border-bottom: 3px solid #EC0856;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0;
}

.selector-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.selector-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 10px;
    border-radius: 30px;
    background-color: rgb(252, 252, 252);
    border: 2px solid rgba(39, 55, 71, 0.74);
    color: rgb(39, 55, 71);
    font-weight: 100;
    font-size: 16px;
    transition: all 0.5s;
}

.selector-button:hover,
.selector-button:active,
.selector-button:focus,
.selector-button:visited {
    outline: none;
    text-decoration: none;
}

.selector-button:hover {
    color: #EC0856;
    border-color: #EC0856;
    background-color: transparent;
}

.selector-button:focus {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

.selector-button-selected {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

.selector-button-selected:hover {
    background-color: #EC0856;
    color: white;
    border-color: #EC0856;
}

h2 {
    padding: 0 0 40px 0;
    letter-spacing: 1px;
}

h3 {
    padding: 0 0 30px 0;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}

@media (min-width: 480px) {
    #title {
        text-align: initial;
    }
    .content {
        font-size: 17px;
    }
    .content-paragraph-centered {
        width: 70%;
    }
}

@media (min-width: 576px) {
    .content {
        font-size: 21px;
    }
    #title {
        font-size: 48px;
    }
    .content-title {
        padding: 0px 0px 80px 0px;
    }
    .separator {
        width: 230px;
        margin-top: 70px;
        margin-bottom: 60px;
    }
    .content-paragraph {
        width: 90%;
        padding: 15px 0 15px 0;
    }
    .content-paragraph-wide {
        width: 90%;
    }
    .content-paragraph-centered {
        width: 420px;
    }
    .img-lg {
        width: 400px;
        height: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 22px;
    }
}

@media (min-width: 768px) {
    .content-padding {
        padding: 0 0 0 20px;
    }
    .content-paragraph-centered {
        width: 70%;
    }
}

@media (min-width: 1200px) {
    .separator {
        width: 320px;
        margin-top: 90px;
        margin-bottom: 80px;
    }
    .content-paragraph-wide {
        width: 90%;
    }
    .img-lg {
        padding: 20px 0 20px 0;
    }
    h2 {
        padding: 0 0 50px 0;
    }
    h3 {
        padding-top: 30px;
    }
}