.content {
    /* font-family: 'Open Sans', helvetica, arial, sans-serif; */
    font-weight: 100;
    font-size: 16px;
    letter-spacing: 0.5px;
    color: #362828;
}

#title {
    /* font-family: 'Open Sans', helvetica, arial, sans-serif; */
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2em;
    letter-spacing: 2px;
    text-align: center;
    /* padding: 0px 0px 0px 0px; */
    border: 0;
}

.content-title {
    padding: 0px 0px 30px 0px;
}

.content-paragraph {
    padding: 20px 0 20px 0;
    text-align: justify;
    margin: auto;
    width: 340px;
}

.first-paragraph {
    padding: 0 0 40px 0;
}

.img-lg-right-float {
    width: 300px;
    height: auto;
}

.separator {
    border-bottom: 3px solid #EC0856;
    width: 210px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 50px;
    padding: 0;
}

h2 {
    padding: 0 0 30px 0;
}

@media (min-width: 480px) {
    #title {
        text-align: initial;
    }
    .content {
        font-size: 17px;
    }
    .content-paragraph {
        width: 370px;
    }
}

@media (min-width: 576px) {
    .content {
        font-size: 21px;
    }
    #title {
        font-size: 48px;
    }
    .content-title {
        padding: 0px 0px 80px 0px;
    }
    .separator {
        width: 230px;
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .content-paragraph {
        width: 450px;
    }
    .img-lg-right-float {
        width: 400px;
        height: auto;
    }
    h2 {
        padding: 0 0 50px 0;
    }
}
@media (min-width: 768px) {
    .content-padding {
        padding: 0 0 0 20px;
    }
}

@media (min-width: 1200px) {
    .separator {
        width: 320px;
        margin-top: 90px;
        margin-bottom: 70px;
    }
    .content-paragraph {
        padding: 15% 0 15% 0;
        /* margin: initial; */
        width: initial;
    }
    h2 {
        padding: 0 0 60px 0;
    }
}